:root {
	--font-size: 18px;
    --trans: 0.5s ease-in-out;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: var(--font-size);
	overflow: auto;
}

body {
	background-image: url('assets/images/blue-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	height: 100%;	
	letter-spacing: 0.06em;
	overflow: auto;
}

.slider {
	width: 90%;
	max-width: 900px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

[type="radio"] {
	display: none;
}

.slider__screen {
	height: inherit;
	width: inherit;
	border-radius: 0.5em;
	overflow: hidden;
	background-color: transparent;
	box-shadow: 0 0 20px rgba(109, 135, 185, .8);
}

.slider__inner {
	display: flex;
	width: 100%;
	transition: var(--trans);
}

.slider__slide {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 54%;
	flex-shrink: 0;
	transition: var(--trans);
}

.slide1 { 
  background-image: url('assets/images/charly.jpg'); 	
}

.slide2 { 
  background-image: url('assets/images/arni.jpg');
}

.slide3 { 
  background-image: url('assets/images/red-bull.jpg');
}

.slide4 { 
  background-image: url('assets/images/captain.jpg');
}

.slide5 { 
  background-image: url('assets/images/sparrow.jpg');
}

.slider__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	*gap: 1vw;
}

.slider__text-screen {
	overflow: hidden;	
	width: 100%;	
	max-width: 18em;
	color: #ddd;
}

.slider__text-block {
	display: flex;
	align-items: center;
	width: 500%;
	transition: margin-left var(--trans);
}

.slider__text {
	flex-shrink: 0;
	width: 20%;
	transition: opacity var(--trans);
	opacity: 0;
}

.slider__controls {
	display: flex;
	justify-content: center;
}

.slider__ctrl {
	cursor: pointer;
}

.slider__dot {
	display: block;
	width: 1em;
	height: 1em;
	margin: 0.8em;
	border: 2px solid #ddd;
	border-radius: 50%;
	transition: var(--trans);	
}

.slider__ctrl:last-child  .slider__dot{
	*margin-right: 0;
}

#slide1:checked ~ .slider__footer .slider__ctrl:nth-of-type(1) .slider__dot,
#slide2:checked ~ .slider__footer .slider__ctrl:nth-of-type(2) .slider__dot,
#slide3:checked ~ .slider__footer .slider__ctrl:nth-of-type(3) .slider__dot,
#slide4:checked ~ .slider__footer .slider__ctrl:nth-of-type(4) .slider__dot,
#slide5:checked ~ .slider__footer .slider__ctrl:nth-of-type(5) .slider__dot {
	background: #ddd;
}

.slider__dot:hover {
	border-color: #98afc5;
}

#slide1:checked ~ .slider__screen .slider__inner{
	margin-left: 0%;
}

#slide2:checked ~ .slider__screen .slider__inner{
	margin-left: -100%;
}

#slide3:checked ~ .slider__screen .slider__inner{
	margin-left: -200%;
}

#slide4:checked ~ .slider__screen .slider__inner{
	margin-left: -300%;
}

#slide5:checked ~ .slider__screen .slider__inner{
	margin-left: -400%;
}

#slide1:checked ~ .slider__footer .slider__text:nth-of-type(1),
#slide2:checked ~ .slider__footer .slider__text:nth-of-type(2),
#slide3:checked ~ .slider__footer .slider__text:nth-of-type(3),
#slide4:checked ~ .slider__footer .slider__text:nth-of-type(4),
#slide5:checked ~ .slider__footer .slider__text:nth-of-type(5){
	opacity: 1;
}

#slide1:checked ~ .slider__footer .slider__text-block{
	margin-left: 0%;	
}

#slide2:checked ~ .slider__footer .slider__text-block{
	margin-left: -100%;
}

#slide3:checked ~ .slider__footer .slider__text-block{
	margin-left: -200%;
}

#slide4:checked ~ .slider__footer .slider__text-block{
	margin-left: -300%;
}

#slide5:checked ~ .slider__footer .slider__text-block{
	margin-left: -400%;
}

@media (max-width: 1000px) {
	:root {
	    --font-size: 2vw;
	}
}

@media (max-width: 700px) {
	:root {
	    --font-size: 2.5vw;
	}
}

@media (max-width: 500px) {
	:root {
		--font-size: 16px;
	}
	.slider {
		width: 95%;
		*width: 100%;
	}
	.slider__footer {
		flex-direction: column-reverse;
	}
	.slider__text-screen {
		align-self: flex-start;
	}
}